page-modal {
    ion-header {
        .toolbar-ios {
            text-align: left;
            min-height: 90px;
            /* height: auto; */
            ion-title {
                padding-left: 15px;
                padding-top: 8px;
            }
        }
        p {
            margin: 0;
        }
        ion-icon {
            font-size: 2em;
        }
        .toolbar-md {
            padding: 10px 5px;
        }
        .toolbar-title-md {
            font-size: 18px;
        }
        .toolbar-title-ios {
            text-align: left;
            font-size: 1.7rem;
            font-weight: 600;
            color: #fff;
            pointer-events: auto;
        }
    }
    ion-app.md [padding] .scroll-content {
        padding-top: 0;
    }
    ion-grid {
        margin-top: -15px;
        .select-box {
            .item-md {
                border-bottom: 1px solid #ddd;
            }
            ion-select {
                max-width: 80%;
            }
            ion-item {
                padding: 0;
                ion-label:nth-child(2) {
                    text-align: right;
                    margin-left: -100%;
                }
            }
            .item-input .label-md,
            .item-select .label-md,
            .item-datetime .label-md {
                color: #333;
            }
            .select-text {
                text-overflow: unset;
                white-space: unset;
            }
            .text-input {
                text-align: right;
            }
        }
        .item-md.item-block .item-inner {
            border: none;
        }
        .photo-box {
            border: 1px solid #ddd;
            position: relative;
            img {
                padding: 5px;
                opacity: 0.3;
                max-width: 90%;
                margin: 0 5%;
            }
            p {
                text-align: center;
                margin: 5px 0 3px;
                font-size: 16px;
            }
            .photo-add {
                position: absolute;
                top: 24%;
                text-align: center;
                font-size: 40px;
                left: 50%;
                transform: translate(-50%);
            }
            .delete-icon {
                display: none;
                position: absolute;
                font-size: 22px;
                right: 8px;
                top: 8px;
                padding: 2px 7px 0px;
                border-radius: 50%;
                color: #fff;
                z-index: 1;
                ion-icon {
                    position: relative;
                    &:after {
                        content: "";
                        width: 28px;
                        height: 28px;
                        background: crimson;
                        position: absolute;
                        border-radius: 100%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-14px, -14px);
                        z-index: -1;
                    }
                }
            }
        }
        .hasPhotoActive {
            .photo-add {
                opacity: 0.2;
            }
            img {
                opacity: 1;
            }
            .delete-icon {
                display: block;
            }
        }
        .gallery-modal {
            background: rgba(0, 0, 0, 0.5) !important;
            ion-content {
                background: rgba(0, 0, 0, 0.2);
            }
            .button-inner {
                background: red;
            }
        }
    }
}