page-contact {
    ion-header {
        text-align: center;
        .back-button.show-back-button {
            display: inline-block;
            position: absolute;
            z-index: 2;
        }
        .back-button-text {
<<<<<<< HEAD
            margin-top: 2px;
=======
            margin-top: 4px;
>>>>>>> 54872a2244d1077099c5f1482c4568f4856589f5
        }
    }
    ion-item {
        ion-label {
            display: flex;
            justify-content: space-between;
            span {
                display: inline-block;
                min-width: 10%;
                text-align: center;
                font-size: 14px;
                padding-left: 5px;
            }
            .center-box {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .item-ios {
        padding-left: 0;
    }
    .list-header {
        background: #f9f9f9;
    }
}